{% extends '::layout.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="title-page">Mentions légales</h1>
    </div>  	
    <div class="col-md-12">       
        <div class="col-md-12 wells">
           <div class="col-md-12 mrg-t-10"></div>
            <div class="row">
                <!--step-4-->
                <div class="col-md-10 col-md-offset-1 display" id="step-4-form" style="display: block;">
                    Particulier & Coach est un site de marketing immobilier, offrant des solutions et des outils de promotion immobilière aux particuliers qui veulent vendre ou louer des biens immobiliers (maison, appartement, locaux commerciaux, fonds de commerce, parking).
                    <br>Particulier & Coach est géré par R. MIMOUNI, immatriculée au registre du tribunal de commerce de Bobigny : Numéro de SIREN : 534 493 614
                    <br>E-mail : particulier.coach@gmail.com
                    <br>Site web: www.particulier-coach.com 
                    <br>Hebergement : 
                    <br>1&1 Internet SARL
                    <br>7, Place de la Gare
                    <br>BP70109
                    <br>57201 Sarreguemines Cedex
                    <br>SIRET : 431 303 775 000 16
                </div>                
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}