<!-- Vendre et acheter-->
<div class="col-md-12 wells buy-and-sell">
    <h2 class="center">Vendre et acheter</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <h3 class="center">JE SUIS VENDEUR</h3>
                <p>
                    Après une longue période d'euphorie, le marché immobilier s'est tendu une première fois en 2008 puis plus sérieusement en 2012. Vendre un bien immobilier est devenu plus compliqué. Dans ce contexte, chaque vendeur se doit de construire une stratégie efficace en adéquation avec son projet. Vous souhaitez vendre au meilleur prix dans un délai raisonnable ? Découvrez ce que notre équipe va vous apporter.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h3 class="center">JE SUIS ACQUEREUR</h3>
                <p>
                    Dans vos recherches de biens immobiliers, vous cumulez les heures passées sur les sites d’annonces à essayer de trouver la perle rare. Malheureusement, les annonces immobilières manquent de précision. Vos visites sont souvent décevantes et ne correspondent pas à ce que vous aviez imaginé. Vous voulez gagner du temps en étant plus efficace ? Découvrez ce que notre équipe va vous apporter.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="green-bar">
    <a href="#">Déposez votre annonce</a>
</div>

<!-- END Vendre et acheter-->