<div class="col-md-12 wells catogories">
    <!--item-->
    <div class="col-md-3 col-sm-6">
        <a href="">
            <i class="fa fa-line-chart"></i>
        </a>
        <h4><a href="">Titre ici</a></h4>
        <p>
            Maximum de client avec multi-diffision de votre annonce immobilier particulier
        </p>
    </div><!--END item-->

    <!--item-->
    <div class="col-md-3 col-sm-6">
        <a href="">
            <i class="fa fa-group"></i>
        </a>
        <h4><a href="">Titre ici</a></h4>
        <p>
            Maximum de client avec multi-diffision de votre annonce immobilier particulier
        </p>
    </div><!--END item-->

    <!--item-->
    <div class="col-md-3 col-sm-6">
        <a href="">
            <i class="fa fa-cogs"></i>
        </a>
        <h4><a href="">Titre ici</a></h4>
        <p>
            Maximum de client avec multi-diffision de votre annonce immobilier particulier
        </p>
    </div><!--END item-->

    <!--item-->
    <div class="col-md-3 col-sm-6">
        <a href="">
            <i class="fa fa-comments"></i>
        </a>
        <h4><a href="">Titre ici</a></h4>
        <p>
            Maximum de client avec multi-diffision de votre annonce immobilier particulier
        </p>
    </div><!--END item-->

    <!--item-->
    <div class="col-md-3 col-sm-6">
        <a href="">
            <i class="fa fa-bar-chart"></i>
        </a>
        <h4><a href="">Titre ici</a></h4>
        <p>
            Maximum de client avec multi-diffision de votre annonce immobilier particulier
        </p>
    </div><!--END item-->

    <!--item-->
    <div class="col-md-3 col-sm-6">
        <a href="">
            <i class="fa fa-university"></i>
        </a>
        <h4><a href="">Titre ici</a></h4>
        <p>
            Maximum de client avec multi-diffision de votre annonce immobilier particulier
        </p>
    </div><!--END item-->

    <!--item-->
    <div class="col-md-3 col-sm-6">
        <a href="">
            <i class="fa fa-group"></i>
        </a>
        <h4><a href="">Titre ici</a></h4>
        <p>
            Maximum de client avec multi-diffision de votre annonce immobilier particulier
        </p>
    </div><!--END item-->

    <!--item-->
    <div class="col-md-3 col-sm-6">
        <a href="">
            <i class="fa fa-area-chart"></i>
        </a>
        <h4><a href="">Titre ici</a></h4>
        <p>
            Maximum de client avec multi-diffision de votre annonce immobilier particulier
        </p>
    </div><!--END item-->

</div>

 <div class="clearfix"></div>