<tr>
    <th>Video</th>
    <td>
        <div class="col-md-6">
            <iframe src="http://www.youtube.com/embed/UemA5HPkjs8?rel=0" style="min-height: 310px;" width="100%" allowfullscreen="" frameborder="0"></iframe>
        </div>
    </td>
</tr>