{% extends '::layout.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-12">
      <h1 class="title-page" style="font-size:18px;">Formulaire de réservation sécurisée</h1>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 wells">
           <div class="col-md-12 mrg-t-10"></div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 display" id="step-4-form" style="display: block;">
                    <div class="alert alert-success center-block" role="alert">l'opération de paiement a été annulé ...</div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}